/* ---------iPad--------------  */
@media (min-width: 768px) and (max-width: 1120px) {
  // nav
  .nav-item {
    text-align: center;
  }
  // info
  .intro-card {
    display: block;
    position: relative;
    top: auto;
    left: auto;
  }
// App's
  .change-row {
    display: flex;
    justify-content: center;
  }
  .app-sec {
    padding: 1rem ;
  }
  .app-box {
    width: 45%;
    padding: 0 0.5rem ;
  }
  .img-app {
    max-width: 120px;
    max-height: 120px;
    margin: 8px 8px 8px 0 ;
  }
  .sing-up-sec {
    padding: 1rem ;
  }
  
}


/*-------------- medium screen ------------*/
@media (min-width: 576px) and (max-width: 768px) {
  // nav
  .nav-item {
    text-align: center;
  }
  // info
  .intro-card {
    display: block;
    position: relative;
    top: auto;
    left: auto;
  }
  .info-sec {
    padding: 0 ;
  }
  .info-row {
    margin: 0.5rem ;
  }

  // App's
  .sing-up-sec {
    padding: 0.2rem ;
  }
  .sing-up-link {
    margin: 0.5rem;
    font-size: 2.2rem;
    margin-bottom: 0.5rem ;
  }
  .img-app {
    max-width: 100px;
    max-height: 100px;
  }
  .app-sec {
    padding: 1rem 0 ;
  }
  .app-register {
    margin: 0.5rem ;
    padding: 0.5rem 0 ;
    text-align: center;
  }
  .app-box {
    width: 100% ;
    margin: 0.5rem 2rem ;
  }

}

/*-------------- Mobile------------- */
@media (min-width: 320px) and (max-width: 576px) {
    // nav
  .intro-card {
    display: block;
    position: relative;
    top: auto;
    left: auto;
  }
  // info
  .row {
    margin: 0.5rem ;
  }

  // App's

  .img-app {
    max-width: 60px;
    max-height: 60px;
    margin: 5px 5px 5px 0 ;
  }

  .app-sec {
    padding: 0.5rem ;
  }
  
  .sing-up-sec {
    padding: 0.2rem ;
  }
  
  .sing-up-link {
    margin-right: 4rem;
    font-size: 2.2rem;
    margin-bottom: 0.5rem ;
  }

  .app-box {
    margin: 0.5rem ;
  }
.app-register {
    text-align: center;
    margin: 0.5rem ;
  }
}

